{% extends 'authapp/base.html' %}
{% block title %} About Page {% endblock %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 my-3">
        <img src="{% static 'images/auth.png' %}" class="img-fluid" alt="Auth Image">
        <h1>About Django Authentication App</h1>
        <p>This is a simple Django Authentication App. You can register, login, and logout using this app. Moreover
            using this app you can also reset your password. This app is built using Django Bootstrap, and SQLite. You
            can find the A in moths ofttimes far scape cheer like far knew gild. Any bliss loved alas mirth nine. From
            did the not deeds almost who soon. Muse any a sullen florid favour haply, satiety to they in oer friend
            bacchanals, ye had into though</p>
        <a href="#" class="btn btn-primary">Learn More About</a>

    </div>
</div>
{% endblock %}