{% extends 'authapp/base.html' %}
{% block title %}Login Page{% endblock %}

{% load static %}

{% block content %}
<div class="row mb-5">
    <div class="col-md-12 col-sm-12">
        <img src="{% static 'images/auth.png' %}" class="img-fluid" alt="Auth Image">
    </div>
    <div class="col-md-6 col-sm-12">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <!-- forget password and registe link here -->
        <div class="d-flex my-3">
            <a href="{% url 'register' %}">Register</a>
            <span class="mx-2">|</span>
            <a href="#">Forget Password</a>
        </div>
        </div>
    </div>
    {% endblock %}